recipe_extraction/parsed_recipes.json filter=lfs diff=lfs merge=lfs -text
recipe_extraction/structured_recipes.json filter=lfs diff=lfs merge=lfs -text
food_data_extraction/food_density_embedding.faiss filter=lfs diff=lfs merge=lfs -text
food_data_extraction/food_embedding.faiss filter=lfs diff=lfs merge=lfs -text
