---
import { MealPlan, OnboardingModal, Pantry } from "../components";
import Layout from "../layouts/Layout.astro";

const isOnboarded = Astro.cookies.get("onboarded")?.value === "true";

export const prerender = false;
---

<Layout>
	<main class="bg-cream flex flex-col xl:flex-row h-[calc(100vh-69px)] gap-10 xl:gap-5 xl:p-6 p-3 ">
		<MealPlan client:load />
		<Pantry client:load />

		{!isOnboarded && <OnboardingModal client:load />}
	</main>
</Layout>
