---
import NavMenu from "./NavMenu.astro";

const currentDate = new Date();
const day = currentDate.getDay();
const diff = currentDate.getDate() - day + (day === 0 ? -6 : 1);
const weekStart = new Date(currentDate.setDate(diff)).toLocaleDateString("en-us", { month: "short", day: "numeric" });
const weekEnd = new Date(currentDate.setDate(diff + 6)).toLocaleDateString("en-us", { month: "short", day: "numeric" });
---

<header class="border-walnut-100 flex items-center justify-between border-b bg-white px-8 py-4">
	<NavMenu />

	<div class="flex items-center gap-3">
		<span class="text-walnut-400 font-body text-sm">Week of</span>
		<span class="text-walnut-600 bg-parchment border-walnut-100 rounded-full border px-3 py-1 text-sm font-medium"
			>{weekStart} - {weekEnd}</span
		>
		<button>
			<button id="generate-meal-plan-btn"
				class="bg-sage-600 hover:bg-sage-800 disabled:opacity-50 disabled:cursor-not-allowed rounded-lg px-4 py-2 text-sm font-medium text-white transition-colors"
				>+ Generate Meal Plan</button
			>
		</button>
	</div>
</header>

<script>
	let isLoading = false;
	const btn = document.getElementById("generate-meal-plan-btn") as HTMLButtonElement;

	const generateMealPlan = async () => {
		// document.dispatchEvent("mealPlanUpdated", {
		// 	breakfastIds: ["1", "2", "3", "4", "5", "6", "7"],
		// 	lunchIds: ["8", "9", "10", "11", "12", "13", "14"],
		// 	dinnerIds: ["15", "16", "17", "18", "19", "20", "21"],
		// })

		window.updateMealPlan({
			breakfastIds: ["1", "2", "3", "4", "5", "6", "7"],
			lunchIds: ["8", "9", "10", "11", "12", "13", "14"],
			dinnerIds: ["15", "16", "17", "18", "19", "20", "21"],
		});

		// if (isLoading) return;
		// isLoading = true;
		// btn.disabled = true;

		// try {
		// 	const requestBody = {
		// 		user_preferences: {
		// 			weekly_budget: 50.0,
		// 			calorie_target_per_day: 2500.0,
		// 			protein_target_per_day: 50.0,
		// 			is_vegetarian: false,
		// 			is_vegan: false,
		// 			requires_gluten_free: false,
		// 			requires_lactose_free: false,
		// 		},
		// 		pantry_items: [],
		// 		num_days: 7,
		// 		meals_per_day: 3,
		// 		num_generations: 500,
		// 	};

		// 	const res = await fetch(`http://localhost:8000/api/meal-plan`, {
		// 		method: "POST",
		// 		headers: { "Content-Type": "application/json" },
		// 		body: JSON.stringify(requestBody),
		// 	});

		// 	if (!res.ok) {
		// 		throw new Error(`API error: ${res.status}`);
		// 	}

		// 	const data = await res.json();
		// 	console.log("Meal plan generated:", data);
		// } catch (err) {
		// 	console.error("Failed to generate meal plan:", err);
		// } finally {
		// 	isLoading = false;
		// 	btn.disabled = false;
		// }
	};

	document.getElementById("generate-meal-plan-btn")?.addEventListener("click", generateMealPlan);
</script>
